@using Blog_MVCProject.Models;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Users</h1>
</div>

@foreach (var u in Model)
{
    
    <div class="users">
        <div>Username: @u.UserName</div>
        <div>Full Name: @u.FullName</div>
        <div>E-mail address: @u.Email</div>
    </div>
    <hr />
}