@model Blog_MVCProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="jumbotron">
    <h2>Manage Account</h2>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="change-pass">
    <dl class="title">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
